.historia-text {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  width: 50%;
  margin-left: 2%;
}
.cohete-mobile{
    display: none;
}
.historia-text p {
  font-size: 1.6rem;
  font-weight: 200;
}
.potenciar .calidad-text p{
    font-weight: 350;
 }
 .potenciar .calidad-text  {
    margin-top: 2%;
 }
.historia-text h1 {
  font-size: 3rem;
  border-bottom: 8px solid #b25fcc;
}
.historia {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
  margin-top: 10%;
}

.calidad {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 5% auto 0 auto;
  width: 80%;
}
.potenciar{
    width: 100%;
    
    background: whitesmoke;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        margin: 10% auto 0 auto; 
}
.potenciar h1, .potenciar span, .potenciar p{
    color: black;
}
.calidad-img {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 320px;
  height: 280px;
}
.logo-what {
  display: flex;
  width: 40%;
  padding-top: 50px;
  margin: 0 50% 0 25%;
}

.historia img {
  display: flex;
  justify-content: center;
  height: 45%;
  margin-top: 1%;
  width: 45%;
}
.perspectiva-ctn .card-body{
  margin-top: -100px;
}
.perspectiva-ctn {
  color: aliceblue;
  margin-top: 100px;
}
.perspectiva-ctn h1 {
  font-size: 3.5rem;
  width: fit-content;
}
.perspectiva-ctn span {
  border-bottom: 8px solid #b25fcc;
}

.perspectiva-ctn h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.title-perspectiva {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenido-perspectiva {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px auto 50px auto;
  width: 85%;
}
.contenido-perspectiva .card {
  background: none;
  width: 60%;
}

.contenido-perspectiva .card h3 {
  text-align: center;
  font-size: 2.2rem;
}

.contenido-perspectiva .card p {
  width: fit-content;
  font-weight: 200;
  text-align: center;
  font-size: 1.4rem;
  margin-top: -30px;
}
.calidad-text {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  width: 60%;
  margin-left: -10%;
}

.calidad-text p {
  font-size: 1.5rem;
  font-weight: 200;
}
.calidad-text h1 {
  font-size: 3.2rem;
  width: fit-content;
}

.calidad-text span {
  border-bottom: 8px solid #b25fcc;
}
.que-experiencias {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1500px) {
  .calidad {
    margin-bottom: 5%;
  }
  .potenciar{
    margin-top: 15%;
  }
}

@media (max-width: 1200px) {
  .calidad {
     
  }
.perspectiva-ctn .card img{
  width: 85px;
  height: 85px;
}
  .potenciar{
    margin-top: 25%;
  }
}
@media (max-width: 1300px) {
  .historia-text p,
  .calidad-text p {
    font-size: 1.3rem;
  }

  .calidad-text h1,
  .calidad-text span {
    font-size: 2.6rem;
  }
  .calidad-img {
    width: 300px;
    height: 250px;
  }

  .historia img {
    margin-left: -50px;
    width: 450px;
    margin-top: 2%;
  }
}

@media (max-width: 950px) {
  .perspectiva-ctn .card-body{
    margin-top: -210px;
  }
  .calidad .calidad-img{
    width: 70vw;
    height: 30%;
  }
    .potenciar .calidad-img{
        display: none;
    }
    .potenciar-flex{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
    }
    .potenciar-flex h1{
      width: 60%;
      margin-left: 12%;
      font-size: 2.5rem;
       
    }
    .potenciar{
      margin-top: 10%;
    }
    .potenciar-flex span{
       
        font-size: 2.5rem;
      }
    
    .potenciar-flex img{
        width: 190px;
      }
  .logo-what {
    width: 60%;
    padding-top: 50px;
    margin: 0 50% 0 15%;
  }
  .cohete-mobile{
    display:block;
  
}

  .calidad {
    flex-direction: column-reverse;
  }
  .historia img,
  .calidad img {
    width: 70vw;
     
    margin: 50px auto 50px auto;
  }
  .historia {
    flex-direction: column-reverse;
  }
  .historia-text h1 {
    font-size: 3rem;
    border-bottom: 8px solid #b25fcc;
  }
  
  .historia-text p,
  .calidad-text p {
    font-size: 1.3rem;
    width: 90%;
    margin: 50px auto 0 auto;
   
  }

  .title-perspectiva h1, .title-perspectiva span {
    font-size: 2.5rem;
  }
  .title-perspectiva {
    width: 78%;
    align-items: start;
    margin: 0 auto;
  }

  .title-perspectiva span {
    font-size: 3rem;
    border-bottom: 8px solid #b25fcc;
  }
  .title-perspectiva h3 {
    font-size: 1.5rem;
  }
  .contenido-perspectiva {
    flex-direction: column;
  }

  .contenido-perspectiva .card h3 {
    font-size: 2rem;
    margin-top: 100px;
  }
  .contenido-perspectiva .card img {
     width: 80px;
    height: 80px;
    margin-bottom: 10%;
  }
  .contenido-perspectiva .card p {
    font-size: 1.5rem;
    margin-top: -30px;
  }
  .contenido-perspectiva .card {
    width: 80%;
  }
  .historia-text {
    width: 100%;
  }
  .calidad-text {
    width: 100%;
    
    margin-bottom: 50px;
    margin-left: 1%;
  }
  .calidad .calidad-text h1 {
    font-size: 2.5rem;
  }
  .perspectiva-ctn .card{
  
  }
}

@media (max-width: 650px) {
  .perspectiva-ctn .card-body{
    margin-top: -110px;
  }
  .contenido-perspectiva .card p {
    font-size: 1.3rem;
     
  }
  .contenido-perspectiva .card img {
    margin-bottom: 5%;
  }
  .potenciar{
    margin-top: 0;
  }

  .contenido-perspectiva .card h3 {
 
    margin-top: 50px;
  }
}

@media (max-width: 450px) {
  .contenido-perspectiva .card{
    margin-bottom: 0;
  }

  .perspectiva-ctn .card-body{
    margin-top: -80px;
  }
    .calidad .calidad-img{
      width: 300px;
    }
  .calidad-text {
    width: 100%;
   
  }
  .potenciar-flex img {
    width: 150px;
    margin-right: -30px;
}
  .contenido-perspectiva .card img {
    margin-bottom: -5%;
  }
  .contenido-perspectiva .card p {
    font-size: 1.2rem;
  }
}
