.create-event-container{
    color: aliceblue;
  width: 80%;
  margin: 50px auto 0 auto;
}

 .mapa-create{
   height: 60vh;
   width: 95%;
 }

 
.input-column{
  display: flex;
  flex-direction: column;
}
.createEvent input{
  width: 350px;
}
.input-column textarea{
 width: 350px;
}

.createEvent button{
    width: 250px;
    margin-bottom: 15px;
 }
 .create-event-container .crear-button{
   width: 95%;
   margin-top: 25px;
   height: 50px;
 }
 .lista-eventos ul{
    display: flex;
    flex-direction: column;
 }
 .key-ctn{
   height: 70vh;
 }


 

 @media only screen and (max-width: 650px) {

 .createEvent input{
  width: 250px;
}
.input-column textarea{
 width: 250px;
}


 }